// Specific CSS for your home-page
.banner {
    width: 100%;
    height: auto;
    background-image: url("banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 20px;
}

.banner-text {
    padding: 160px 0;
    padding-left: 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;   
}

.events {
    color: black;
    text-shadow: 2px 2px 4px hsl(0, 0%, 100%); 
    
}

.journey-text {
    color: black;
    text-shadow: 2px 2px 4px hsl(0, 0%, 100%); 
}

.featured {
    margin-bottom: 7rem;
}

.d-flex {
    text-align: justify;
}

.details h6 {
    font-size: smaller;
}

.details h5 {
    font-size: smaller;
    font-weight: bold; 
}

.about-info p {
    text-align: justify;
    padding-left: 3rem;
    padding-top: auto;
    padding-top: 1rem;
}

.about-img {
    margin-top: 2rem;
}

.about {
    padding-bottom: 6rem;
}

.big-margin-bottom {
    margin-bottom: 4rem;
}

.font-size {
    font-size: 24px;
}
.gif{
 width: 400px;
    overflow: hidden;
    align-items: center;
}

.tenor-gif-embed {

    border-style: solid;
    border-color: white;
    width: 300px;
  
}