<footer class="custom-footer">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-sm-4 social text-center">
        <h4>Follow Us</h4>
        <ul class="list-inline social-icons">
          <li class="list-inline-item"><i class="fab fa-facebook" style="font-size: 35px;"></i></li>
          <li class="list-inline-item"><i class="fab fa-twitter" style="font-size: 35px;"></i></li>
          <li class="list-inline-item"><i class="fab fa-instagram" style="font-size: 35px;"></i></li>
        </ul>
      </div>
      <div class="col-sm-4 text-center">
        <%= image_tag "concertmatchlogo.png", alt: "Logo", style: "max-height: 150px;" %>
      </div>
      <div class="col-sm-4 text-left">
        <h4 class="links-heading">Links</h4>
        <div class="row menu">
          <div class="col-sm-6" style="width: 180px;">
            <ul class="list-unstyled">
              <li><span class="footer-link">About Us</span></li>
              <li><span class="footer-link">Contact</span></li>
              <li><span class="footer-link">Profile</span></li>
            </ul>
          </div>
          <div class="col-sm-6" style="width: 180px;">
            <ul class="list-unstyled">
              <li><span class="footer-link">Favorites</span></li>
              <li><span class="footer-link">Conversations</span></li>
              <li><span class="footer-link">Forums</span></li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center">
        <p>&copy; 2023 Your Company. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var footer = document.getElementById("sticky-footer");
    var isContentScrollable = document.body.scrollHeight > window.innerHeight;

    function toggleFooter() {
      footer.style.display = isContentScrollable ? "block" : "none";
    }

    window.addEventListener("scroll", toggleFooter);
    window.addEventListener("resize", toggleFooter);

    toggleFooter();
  });
</script>
