<div class="container">
  <div class="card-list">
    <div class="card-list-head">
      <h2>Event Name</h2>
    </div>
    <div class="city">
      <h3>Amsterdam</h3>
    </div>
    <div class="card-list-infos">
      <div class="date-address">
        <div class="date">
          <span class="month">May</span>
          <span class="day">19</span>
        </div>
        <p class="address">Ziggo Dome, De Passage 100 - 1101</p>
      </div>
      <div class="button">Info</div>
    </div>
  </div>
</div>
