<div class="banner-index bg-secondary">
  <div class="banner-text justify-content-start align-items-center">
    <h6>Some info</h6>
    <h2>Short heading here</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci vero odit soluta. Est molestiae itaque at. Quaerat quidem at tempora perspiciatis in. Itaque tempore dignissimos quam voluptates inventore mollitia at.</p>
  </div>
</div>

<div class="container">
  <div class="grid">
    <% @concerts.each do |concert| %>
      <div class="card_list bg-secondary">
        <h3><%= concert.name %></h3>
        <h3><%= concert.date %></h3>
        <h3><%= concert.artist %></h3>
        <h3><%= concert.address %></h3>
      </div>
    <% end %>
  </div>
</div>
