<div class="container d-flex flex-column align-items-center mt-3">
  <div class="container-smaller">
    <div class="row">
      <div class="col-5 d-flex flex-column align-items-center">
        <%= image_tag "jas-pic.jpg", class: "profile-img" %>
        <h2>-- Jas --</h2>
        <div class="text-center fw-light">
          <h4 class="background-yellow-smaller">ADD FRIEND</h4>
        </div>
        <h4 class="text-decoration-line custom-light-text">ABOUT ME</h4>
        <p>Some description</p>
        <h4 class="text-decoration-line">SOCIALS</h4>
        <ul class="list-unstyled">
          <li class="black_text"><i class="fa-sharp fa-solid fa-phone"> 064453554</i></li>
          <li class="black_text"><i class="fa-sharp fa-solid fa-paper-plane"> ggg@gmail.com</i></li>
          <li class="black_text"><i class="fa-sharp fa-solid fa-globe"> www//wwwww</i></li>
          <li class="black_text"><i class="fa-sharp fa-solid fa-location-dot">Amsterdam, 54-8</i></li>
        </ul>
      </div>
      <div class="col-7 d-flex flex-column align-items-center">
        <div class="text-center">
          <h4 class="background-yellow">MUSIC LIST</h4>
          <h4 class="background-yellow">CONCERT I'VE BEEN TO</h4>
          <div class='mt-4 mb-4'>
            <ul>
              <li class="black_text">AWAKENINGS, AMSTERDAM</li>
              <li class="black_text">MAROON 5, BOSTON</li>
              <li class="black_text">GORILLAZ, LONDON</li>
              <li class="black_text">BEYONCE, BERLIN</li>
              <li class="black_text">JUSTIN, TOKYO</li>
            </ul>
          </div>
          <h4 class="background-yellow">TOP ARTIST</h4>
        </div>
      </div>
    </div>
  </div>
</div>
