.about-info {
  width: 50%;
  padding-top: 25px;

  h2 {
    font-weight: bolder;
    text-align: center;
  }
   p {
    font-size: 15px;
  }
}

.about-img {
  border-radius: 5px;
  background-size: cover;
  width: 400px;
}
