.banner-index {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 64px;
  margin-bottom: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .banner-text {
    width: 42%;
    color: white;

    h1 {
      font-size: 55px;
      margin-bottom: 30px;
    }

    h6 {
      font-size: 20px;
    }

    p {
      font-size: 21px;
      margin-bottom: 50px;
    }
  }
}
