.button-purple {
  background-color: $purple;
  color: #fff;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
  border-radius: 2px;

}

.button-purple:hover {
  background-color: #ffe700;
  color: black;
  font-weight: bold;
}

.button-navbar-purple {
  background-color: $purple;
  color: #fff;
  padding: 3px 23px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border: none;
}

.button-navbar-purple:hover {
  background-color: #ffe700;
  color: black;
  font-weight: bold;
}
