.card-forum {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 800px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.forum-info {
  margin-top: 10px;
}

.timestamp {
  color: #888;
  font-size: 14px;
}

.content {
  margin-top: 10px;
}

.user-first_name {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  h2 {
    margin-bottom: 0px;
    height: 30px;
  }

  p {
    margin-bottom: 0px;
  }
}
