.card-forum {
  width: 100%; /* Set a fixed width for the card */
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  box-shadow: none;
  flex-grow: 1;
  align-items: center;
  padding: 20px;
  // margin-right: 600px;
  margin: auto;
}

#forum-title h1 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-weight: bold;
}

.form-index {
  margin-right: 70px;
}

.card-small-forum {
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  width: 800px; /* Set a fixed width for the card */
  max-width: 100%; /* Change max-width to 100% */
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-small-forum:hover {
  box-shadow: 0px 0px 10px 2px rgba(128, 0, 128, 0.5);
}

.card-small-forum p {
  color: black;
}

.card-small-forum h3 {
  color: black;
  font-size: 24px;
  margin-bottom: 0px;;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  p {
    font-size:12px;
  }
}

.user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.forum-info {
  padding-top: 0px;
}

.forum-info .content {
  margin-right: 15px;
}


.timestamp {
  color: #888;
  font-size: 14px;
}

.card-small-forum .content {
padding-left: 5px;
}

.full-card-link {
  text-decoration: none;
}
