.comment_content {
  width: 500px;
  padding-left: 50px;

}

.user-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.comments {
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 210px;
  width: 900px;
}

.page {
  margin-left: 52px;
}
