.comment_content {
  width: 500px;
  padding-left: 50px;

}

.user-photo {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  margin-right: 5px;
}

.comments {
  padding-left: 50px;
  padding-right: 50px;
  
}
