.comment_content {
  width: 750px;
  padding-left: 50px;
}

#comment_content {
  height: 43.6px;
}

.user-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.comments {
  padding-left: 50px;
  padding-right: 50px;
  margin-right: -40px;
  width: 900px;
}

.page {
  margin-left: 52px;
}
