.details-info {

}

.details-img {
  // border-radius: 5px;
  // background-size: cover;
  // //width: 500px;

  width: 800px; /* Adjust the width as desired */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px;
  background-size: cover;
}

.vertical-line {
  border-left: 1px solid rgb(175, 162, 162); /* Adjust the width and color as needed */
  height: 100px; /* Adjust the height as needed */
}

.flex-column {
  flex-direction: column;
}

.city-info {
  h3 {
    font-weight: bold;
  }
}
