.details-img {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.icon{
  position: relative;

.fa-heart {
  position: absolute;
  top: -580px;
  left: -60px;
}
}

