.body-lavanda {
  background-color: $lavanda;
}

.white-box {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.container-post {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.form {
  margin-bottom: 20px;
  width: 790px;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  padding: 20px 40px;
}

.smaller-input {
  margin-right: 10px;
  background-color: white;
  border: 1px solid #cccccc; /* Replace with your preferred border color */
  padding: 8px;
  font-size: 14px;
  color: #333333; /* Replace with your preferred text color */
}

.board-checkboxes {
  display: flex;
  flex-wrap: wrap;
}

.form-check {
  margin-right: 20px;
}

.content {
  margin-top: 10px;
}

.card-forum {
  background-color: white;
}
