.col-5 {
  background-color: #8A2BE2;
}

.col-7 {
  background-color: white;
}

.music-list {
  background-color: yellow;
  width: 300px;
}

.artist-list {
  background-color: yellow;
  width: 300px;
}

.background-yellow {
  background-color: yellow;
  width: 351px;
}

.text-center {
  text-align: center
}
.profile-img {
  border-radius: 50%;
  width: 130px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.container-smaller {
  width: 700px;
}

.background-yellow-smaller {
  background-color: yellow;
  font-weight: 100;
  width: 200px;
}

.text-decoration-line{
  text-decoration-line: underline;
}

.custom-light-text {
  font-weight: lighter;
}
